
body{
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Roboto', sans-serif;
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
}

.navigation {
  position: sticky;
  list-style-type: none;
  z-index: 1;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}

.dropbtn {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #black;
  color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #7d7d7d;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: black;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: white;
  color: black;
}

a{
  color: white;
  text-decoration: none;
}

h2{
  position: relative;
  left: 4%;
  text-align: left;
  font-size: 140px;
}

h2:hover {
  text-shadow: 0 0 7px #b8b8b8;
}

h3{
  position: relative;
  left: 4%;
  text-align: left;
  font-size: 46px;
}

h4{
  position: relative;
  left: 7%;
  height: 400px;
  width: 600px;
  text-align: left;
  font-size: 18px;
  line-height: 2.5;
}

footer{
  position: relative;
  left: 7%;
  text-align: left;
  font-size: 14px;
}
